* {
    margin:0;
    padding:0;
    outline-width:0px;
    box-sizing:border-box;
}

html {
    height: 100%;
}

body, html {
    width: 100%;
}

body {
    background-color: grey;
}

/* Broad categorical stuff */
a {
    text-decoration: none;
    color: black;
}

.button {
    display: inline-block;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 15px;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

/* Index */
#main {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;
    background: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.container_logo img{
    padding: 30px 80px;
}

#main h1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 3rem;
}

#main #workspace_container {
    position: relative;
    width: 80%;
    height: 800px;
    left: 10%;
    margin-top: 50px;
}

.overlay[overlay-id=index] {
    z-index: 200;
}

.modal_create-account.modal_body, .modal_login.modal_body {
    width: 50%;
    height: 45%;
    left: 25%;
    top: 10%;
    z-index: 201;
}

.modal_section__user-creds {
    position: relative;
    width: 50%;
    left: 25%;
}

.modal_section__user-creds input {
    font-size: 2.3rem;
    width: 100%;
    margin-top: 30%;
}

/* Navbar */
.navbar_main {
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navbar_link {
    height: 100%;
    padding: 0 2rem;
    transition: background-color 0.2s, color 0.2s;
    font-size: 1.5rem;
}

.navbar_link:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.navbar_link span {
    line-height: 60px;
}

.navbar_link_left {
    float: left;
}

.navbar_link_right {
    float: right;
}

/* Make */
body.page_make {
    background: grey;
    height: 100%;
    overflow: hidden;
}

.page_make #workspace_container {
    height: 100%;
}

.page_make .button_back {
    margin: 10px;
    font-size: 1.5rem;
}

/* Modal */
.modal_body {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
    z-index: 101;
}

.modal_title {
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: bold;
}

.modal_title__main {
    text-align: center;
    padding: 15px;
}

.modal_label {
    font-size: 1.1em;
}

.modal_section {
    display: inline-block;
    margin-top: 20px;
}

.modal_section__buttonset {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0; /* cause firefox is weird */
    width: 100%;
    margin-bottom: 50px;
}

.modal_button {
    font-size: 1.3em;
    background: white;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 15px;
    margin: 0 50px;
    transition: background-color 0.2s, color 0.2s;
}

.modal_button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.modal_option_text input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.modal_option_text input:focus {
    border: 2px solid black;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;
}

body.splash, body.what {
    background-color: #ededed;
    font-family: sans-serif;
}

body.splash h4 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10rem;
}

body.splash h3 {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
}

body.splash h3 span {
    font-size: 2rem;
}

body.splash p {
    font-size: 1.3rem;
    border: 1px solid grey;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding: 1rem;
    margin-top: 4rem;
    background-color: lightgrey;
}

body.splash div {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 4rem;
}

body.splash div.yah-nah-wrapper {
    width: 45%;
}

body.splash div.yah-nah-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

body.splash a {
    border: 1px solid black;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: white;
}

body.splash a.what {
    padding: 0.8rem 2rem;
    font-size: 1rem;
}

body.splash a:hover {
    background-color: black;
    color: white;
}

body.splash a.nah {
    float: left;
}

body.splash a.yah {
    float: right;
}

body.what .title {
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid grey;
}

body.what h4 {
    font-size: 2rem;
    text-align: center;
}

body.what ul {
    margin: auto;
    width: 75%;
    list-style: none;
}

body.what li {
    margin-bottom: 1.5rem;
    line-height: 1.4rem;
}

body.what li span {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

body.what p a {
    text-decoration: underline;
    color: blue;
}

body.what p a:hover {
    color: darkblue;
}

body.what div.contents {
    position: fixed;
    border: 1px solid black;
    background-color: white;
    width: 10%;
    top: 5px;
    left: 5px;
    border-radius: 3px;
}

body.what div.contents ul {
    margin: 0;
    width: 100%;
}

body.what div.contents li {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 1.5rem;
}

body.what div.contents li:hover {
    color: white;
    background-color: black;
}