* {
	margin:0;
	padding:0;
	outline-width:0px;
}

body, html {
	background: grey;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

#main {
	width: 80%;
	margin: auto;
	background: white;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.container_logo img{
	padding: 30px 80px;
}

.navbar_main {
	height: 60px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.navbar_link {
	height: 100%;
	padding: 0 2rem;
	transition: background-color 0.2s, color 0.2s;
	font-size: 1.5rem;
}

.navbar_link:hover {
	cursor: pointer;
	color: white;
	background-color: black;
}

.navbar_link span {
	line-height: 60px;
}

.navbar_link_left {
	float: left;
}

.navbar_link_right {
	float: right;
}

.button {
	display: inline-block;
	background: white;
	border: 1px solid black;
	border-radius: 2px;
	padding: 10px 15px;
	transition: background-color 0.2s, color 0.2s;
}

.button:hover {
	background: black;
	color: white;
	cursor: pointer;	
}

#main h1 {
	text-align: center;
	font-family: sans-serif;
	margin-top: 50px;
	font-size: 3rem;
}

#main #workspace_container {
	position: relative;
	width: 80%;
	height: 600px;
	left: 10%;
	margin-top: 50px;
}

body.page_make {
	background: white;
}

.page_make #workspace_container {
	position: absolute;
	top: 1%;
	left: 10%;
	width: 89%;
	height: 98%;
	margin: auto;
}

.page_make .button_back {
	margin: 10px;
	font-size: 1.5rem;
}