* {
	margin:0;
	padding:0;
}

#workspace_container {
	left:10px;
	top:10px;
	position:absolute;
}

#workspace {
	border: 1px solid black;
}

#workspace {
	width: 1000px;
	height: 600px;
}


#editor {
	position:absolute;
	display:none;
	font-size:14px;
	font-family:sans-serif;
}

line {
	stroke:black;
}

text {
	font-size:14px;
	font-family:sans-serif;
}