.page_docs {
    background-color: $grey-extra-light;

    .historical_warning {
        color: red;
        font-style: italic;
    }

    .back {
    	position: fixed;
    	@extend .button;
    	top: 15px;
    	left: 15px;
    }

    .download_docs {
    	position: fixed;
    	@extend .button;
    	top: 15px;
    	right: 15px;
    }

    & {

        ul {
            list-style: initial;
        }

        li > ul {
            margin-top: 0.5rem;
            list-style-type: circle;
        }

        .document {
            width: 60%;
            margin-left: 20%;
            margin-top: 2rem;
            border-bottom: 1px solid lightgrey;

            h1 {
                font-size: 2.5rem;
                margin-bottom: 3rem;
                text-align: center;
                font-family: sans-serif;
            }

            .section {
                margin-bottom: 3rem;

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    text-align: left;
                }
            }
        }

        li, .section p {
            font-size: 1.3rem;
            margin-left: 2rem;
            margin-bottom: 0.5rem;
        }

        .actor_app {
            color: green;
        }

        .actor_user {
            color: $blue-light;
        }
    }

    &.page_docs_requirements_list, &.page_docs_class_analyses {
        .document > p {
            font-style: italic;
            margin-bottom: 3rem;
        }

        .own_requirement {
            color: $blue-light;
        }

        li .own_requirement {
            color: $blue-light;
        }
    }
}

.page_doc_index {

	.page_title {
		margin: 5rem 0;
	}

	.block_menu {
		width: 50%;
		margin-left: 25%;
	}
}