.page_docs {
    background-color: $grey-extra-light;

    .note {
        text-align: center;
        margin: 1rem;

        a {
            text-decoration: underline;
            color: blue;
        }
    }

    &.page_doc_index {

        .page_title {
            margin: 5rem 0;
        }

        .block_menu {
            float: left;
            display: inline-block;
            width: 30%;
            margin-left: 5%;
        }
    }

    .blurb {
        width: 55%;
        float: right;
        margin-right: 5%;
    }

    .historical_warning {
        color: red;
        font-style: italic;
    }

    .back {
    	position: fixed;
    	@extend .button;
    	top: 15px;
    	left: 15px;
        font-family: sans-serif;
        font-size: 1.5rem;

        &:after {
            content: "<<";
        }
    }

    .download_docs {
    	position: fixed;
    	@extend .button;
    	top: 15px;
    	right: 15px;
    }

    & {

        ul {
            list-style: initial;
        }

        li > ul {
            margin-top: 0.5rem;
            list-style-type: circle;
        }

        .document {
            width: 60%;
            margin-left: 20%;
            margin-top: 2rem;
            border-bottom: 1px solid lightgrey;

            h1 {
                font-size: 2.5rem;
                margin-bottom: 3rem;
                text-align: center;
                font-family: sans-serif;
            }

            .section {
                margin-bottom: 3rem;

                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                    text-align: left;
                }
            }
        }

        li, .section p {
            font-size: 1.3rem;
            margin-left: 2rem;
            margin-bottom: 0.5rem;
        }

        .actor_app {
            color: green;
        }

        .actor_user {
            color: $blue-light;
        }
    }

    &.page_docs_requirements_list, &.page_docs_class_analyses {
        .document > p {
            font-style: italic;
            margin-bottom: 3rem;
        }

        .own_requirement {
            color: $blue-light;
        }

        li .own_requirement {
            color: $blue-light;
        }
    }

    &.page_docs_class_diagram {
        img {
            width: 80%;
            margin-left: 10%;
            max-width: 1500px;
        }
    }

    &.page_docs_sequence_diagrams {
        img {
            width: 80%;
            display: block;
            margin: auto;
            border: 1px solid grey;
            margin-bottom: 3rem;
        }
    }

    &.page_docs_writeup {
        height: 100%;
        overflow: hidden;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}