@mixin key($name) {
	&:after {
		content: "";
		background-color: transparent;
		background-image: url("/resources/key_icons/#{$name}.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		height: 1.5em;
		width: 1.5em;
		padding: 0 0.1em;
		display: inline-block;
	}
}

.key {
	&.key-ctrl {
		@include key('ctrl');
	}

	&.key-left {
		@include key('left');
	}

	&.key-comma {
		@include key('comma')
	}
}