#toolbar {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid black;

    .toolbar_section {
        display: flex;
        margin: 0 1rem;
    }

    .toolbar_button {
        @extend .button;
        padding: 1rem;
        border: none;
        border-radius: 0;
    }

    .toolbar_button__settings {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url('/resources/gear.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position:center;
        }

        &:hover {
            &:after {
                @include animation(spin,0.5s,1);
            }
            background-color: white;
        }
    }
}