#toolbar {
    position: absolute;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;

    .toolbar_button {
        @extend .button;
        padding: 1rem;
        border: none;
        border-radius: 0;
    }

    .toolbar_area_right {
        float: right;
        margin-right: 2rem;
    }

    .toolbar_button__settings {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url("/resources/gear.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position:center;
        }

        &:hover {
            &:after {
                @include animation(spin,0.5s,1);
            }
            background-color: white;
        }
    }
}