#workspace_container {
    border: 1px solid black;
    cursor: default !important;
    position: relative;

    @import 'node';
    @import 'toolbar';
    @import 'tutorial';

    #workspace {
        background-color: grey;
    }

    #export-image-canvas {
        display: none;
        width: 100%;
        height: 100%;
    }

    .loading_screen {
        display: block;
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0;
        z-index: 6000;
        background-color: white;

        img {
            margin-top: 11%;
            margin-left: 22%;
            @include animation(spin, 1s, 5)
        }
    }
}