$grey-extra-light: #ededed;
$blue-light: #4a91e8;

* {
    margin: 0;
    padding: 0;
    outline-width: 0px;
    outline: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body, html {
    width: 100%;
}

body {
    background-color: grey;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    &:hover i {
        margin-right: 1.5rem;
        margin-left: -1.5rem;
    }

    i {
        margin-right: 2rem;
        margin-left: -2rem;
        transition: margin 0.3s;
    }
}


.note {
    font-size: 0.9em;
    font-style: italic;
}

.page_title {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-family: sans-serif;

    &_secondary {
        font-size: 2.5rem;
        letter-spacing: initial;
    }
}

.blurb {
    font-size: 1.3rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1rem;
    background-color: lightgrey;

    .title {
        text-align: center;
    }

    p {
        white-space: pre-wrap;
        line-height: 1.5rem;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text] {
    outline: none;
    outline-width: 0;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.2rem;
}

@include create-animation(spin) {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

.block_menu {
    @include block_menu();

    .sub_menu {
        padding-left: 0;
        padding-right: 0;
        position: relative;

        &:after {
            content: "\f0da";
            position: absolute;
            right: 0;
            top: 1rem;
            margin-right: 20px;
            font-family: FontAwesome;
        }

        &.expanded {
            padding-bottom: 0;
            background-color: black;
            color: white;

            &:after {
                content: "\f0d7";
                top: 1rem;
            }

            ul {
                display: block;
            }
        }

        ul {
            display: none;
            margin-top: 1rem;

            li{
                &:hover {
                    background-color: darkgrey;
                    color: black;
                    border-left-width: 20px;
                }

                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                background-color: lightgrey;
                border-bottom: none;
                border-right: none;
                border-left: 10px solid grey;
                transition: border-left 0.3s;
            }
        }
    }
}

.option_wrapper_radio {
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    border-bottom: none;
    background-color: #ededed;

    .option_radio {
        border-bottom: 1px solid grey;
        position: relative;


        label {
            display: inline-block;
            width: 100%;
            padding: 0.5rem 1rem;
        }

        input {
            -webkit-appearance: none;
            -moz-apperance: none;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: white;

            &:checked {
                background-color: black;
            }

            &:checked + span {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.2);
                height: 100%;
                width: 100%;
            }
        }

        &:hover {
            input {
                // background-color: rgba(0,0,0,0.1);

                & + span {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,0.1);
                    height: 100%;
                    width: 100%;
                    z-index: 90;
                }
            }
        }
    }
}