body.splash {
    background-color: #ededed;
    font-family: sans-serif;

    .page_title {
        font-size: 7rem;
        margin-top: 8rem;

        &_secondary {
            font-size: 3rem;
            margin-top: 2rem;
        }
    }

    .block_menu {
        width: 50%;
        margin: auto;
        margin-top: 5rem;
    }

    .wrapper {
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 4rem;

        &_yah_nah {
            width: 45%
        }
    }

    .nah {
        float: left;
    }

    .yah {
        float: right;
    }
}