body.what {
    background-color: #ededed;

    .page_title {
        margin-top: 5rem;
        padding-bottom: 5rem;
    }

    h4 {
        font-size: 2rem;
        text-align: center;
    }

    .faq-list, .how-to-list {
        margin: auto;
        width: 90%;
    }

    .help_section {
        margin-top: 2.5rem;
        padding-top: 2.5rem;
        border-top: 1px solid darkgrey;
        width: 60%;
        margin: auto;
        font-size: 1.3rem;
        line-height: 1.6rem;

        a {
            text-decoration: underline;
            color: blue;

            &:hover {
                color: darkblue;
            }
        }

        li {
            margin-bottom: 1.5rem;

            span.faq-q, span.how-to-title {
                font-size: 1.5rem;
                font-weight: bold;
                letter-spacing: 0.05rem;
                margin-bottom: 2.5rem;
            }

            p {
                white-space: pre-line;
                line-height: 1.5rem;
                margin-top: 10px;
            }
        }
    }

    .block_menu {
        position: fixed;
        width: 15%;
        top: 5px;
        left: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;



        span.contents  {
            li {
                padding: 0.5rem;
                border-radius: 0;
                background-color: lightgrey;
                position: relative;

                &:hover {
                    background-color: #666666;

                    &:after {
                        background-color: white;
                        width: 10px;
                    }
                }

                &:after {
                    content: "";
                    height: 2px;
                    width: 5px;
                    background-color: black;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-right: 10px;
                    transition: width 0.3s;
                }
            }
        }
    }

    table {
        width: 70%;
        margin: auto;
        border-collapse: collapse;
        border: 1px solid black;
        background-color: white;
        border-radius: 3px;
        margin-top: 1rem;
        margin-bottom: 5rem;

        td {
            padding: 20px;
            border: 1px solid black;
        }

        tr:hover {
            background-color: lightgrey;
        }
    }
}
