.key.key-ctrl:after {
  content: "";
  background-color: transparent;
  background-image: url("/resources/key_icons/ctrl.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5em;
  width: 1.5em;
  padding: 0 0.1em;
  display: inline-block; }

.key.key-left:after {
  content: "";
  background-color: transparent;
  background-image: url("/resources/key_icons/left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5em;
  width: 1.5em;
  padding: 0 0.1em;
  display: inline-block; }

.key.key-comma:after {
  content: "";
  background-color: transparent;
  background-image: url("/resources/key_icons/comma.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5em;
  width: 1.5em;
  padding: 0 0.1em;
  display: inline-block; }

* {
  margin: 0;
  padding: 0;
  outline-width: 0px;
  outline: none;
  box-sizing: border-box; }

html {
  height: 100%; }

body, html {
  width: 100%; }

body {
  background-color: grey; }

a {
  text-decoration: none;
  color: black; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.note {
  font-size: 0.9em;
  font-style: italic; }

.page_title {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-family: sans-serif; }
  .page_title_secondary {
    font-size: 2.5rem;
    letter-spacing: initial; }

.blurb {
  font-size: 1.3rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1rem;
  background-color: lightgrey; }
  .blurb .title {
    text-align: center; }
  .blurb p {
    white-space: pre-wrap;
    line-height: 1.5rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

input[type=text] {
  outline: none;
  outline-width: 0;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2rem; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.block_menu {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px; }
  .block_menu ul {
    width: 100%; }
    .block_menu ul li {
      border-radius: 0 !important;
      width: 100%;
      text-align: center;
      padding: 20px 0;
      margin: 0;
      font-size: 1.3rem; }
  .block_menu .sub_menu {
    padding-left: 0;
    padding-right: 0;
    position: relative; }
    .block_menu .sub_menu:after {
      content: ">";
      position: absolute;
      right: 0;
      margin-right: 20px;
      font-family: sans-serif;
      font-size: 1.3rem; }
    .block_menu .sub_menu.expanded {
      padding-bottom: 0;
      background-color: black;
      color: white; }
      .block_menu .sub_menu.expanded:after {
        content: "v";
        top: 1rem; }
      .block_menu .sub_menu.expanded ul {
        display: block; }
    .block_menu .sub_menu ul {
      display: none;
      margin-top: 1rem; }
      .block_menu .sub_menu ul li {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        background-color: lightgrey;
        border-bottom: none;
        border-right: none;
        border-left: 6px solid black;
        transition: border-left 0.3s; }
        .block_menu .sub_menu ul li:hover {
          background-color: darkgrey;
          color: black;
          border-left: 13px solid black; }

.option_wrapper_radio {
  display: inline-block;
  border: 1px solid black;
  border-radius: 3px;
  border-bottom: none;
  background-color: #ededed; }
  .option_wrapper_radio .option_radio {
    border-bottom: 1px solid grey;
    position: relative; }
    .option_wrapper_radio .option_radio label {
      display: inline-block;
      width: 100%;
      padding: 0.5rem 1rem; }
    .option_wrapper_radio .option_radio input {
      -webkit-appearance: none;
      -moz-apperance: none;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 2px solid black;
      background-color: white; }
      .option_wrapper_radio .option_radio input:checked {
        background-color: black; }
      .option_wrapper_radio .option_radio input:checked + span {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
        width: 100%; }
    .option_wrapper_radio .option_radio:hover input + span {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      height: 100%;
      width: 100%;
      z-index: 90; }

.button, .block_menu ul li, #workspace_container #toolbar .toolbar_button, .page_docs .back, .page_docs .download_docs {
  display: inline-block;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 1rem 15px;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer; }
  .button:hover, .block_menu ul li:hover, #workspace_container #toolbar .toolbar_button:hover, .page_docs .back:hover, .page_docs .download_docs:hover {
    background: black;
    color: white; }
  .button_big, .modal_body .modal_section__buttonset button, .modal_body .modal_section__buttonset a {
    font-size: 1.3em;
    padding: 1.5rem 3rem; }
  .button_small {
    padding: 0.8rem 1rem;
    font-size: 1rem; }
  .button.loading, .block_menu ul li.loading, #workspace_container #toolbar .loading.toolbar_button, .page_docs .loading.back, .page_docs .loading.download_docs {
    color: transparent;
    background-image: url("/resources/hourglass.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }

.modal_body {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  font-family: sans-serif;
  z-index: 101;
  padding: 1rem; }
  .modal_body.modal_export, .modal_body.modal_open {
    width: 45%;
    top: 17.5%;
    left: 27.5%; }
  .modal_body.modal_tutorial {
    width: 40%;
    top: 38%;
    left: 30%; }
  .modal_body .modal_title {
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: bold; }
    .modal_body .modal_title__main {
      text-align: center;
      font-size: 4rem;
      margin-top: 2rem; }
  .modal_body .modal_section {
    display: inline-block;
    margin-top: 20px; }
    .modal_body .modal_section__filetype {
      width: 100%;
      text-align: center; }
      .modal_body .modal_section__filetype .option_wrapper {
        display: inline-block;
        text-align: left;
        margin: 1rem;
        font-size: 1.5rem;
        width: 60%; }
        .modal_body .modal_section__filetype .option_wrapper .option_wrapper_radio {
          width: 100%; }
        .modal_body .modal_section__filetype .option_wrapper .modal_option__fname {
          margin: 1rem 0;
          position: relative; }
          .modal_body .modal_section__filetype .option_wrapper .modal_option__fname input {
            text-align: right;
            font-size: inherit;
            margin-right: 0.2rem;
            padding-right: 5ch;
            width: 100%; }
          .modal_body .modal_section__filetype .option_wrapper .modal_option__fname span {
            position: absolute;
            top: 0.25rem;
            right: 1ch;
            color: #666666; }
    .modal_body .modal_section__subtree {
      float: right;
      margin-right: 150px; }
  .modal_body .modal_section__buttonset {
    text-align: center;
    width: 100%;
    margin: 0.5rem 0; }
    .modal_body .modal_section__buttonset button, .modal_body .modal_section__buttonset a {
      margin: 0 1rem; }
  .modal_body .modal_option_text input {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px; }
  .modal_body .modal_option_text input:focus {
    border: 2px solid black; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100; }

body.splash {
  background-color: #ededed;
  font-family: sans-serif; }
  body.splash .page_title {
    font-size: 7rem;
    margin-top: 8rem; }
    body.splash .page_title_secondary {
      font-size: 3rem;
      margin-top: 2rem; }
  body.splash .block_menu {
    width: 50%;
    margin: auto;
    margin-top: 5rem; }
  body.splash .wrapper {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 4rem; }
    body.splash .wrapper_yah_nah {
      width: 45%; }
  body.splash .nah {
    float: left; }
  body.splash .yah {
    float: right; }

body.what {
  background-color: #ededed; }
  body.what .page_title {
    margin-top: 5rem;
    padding-bottom: 5rem; }
  body.what h4 {
    font-size: 2rem;
    text-align: center; }
  body.what .faq-list, body.what .how-to-list {
    margin: auto;
    width: 90%; }
  body.what .help_section {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    border-top: 1px solid darkgrey;
    width: 60%;
    margin: auto;
    font-size: 1.3rem;
    line-height: 1.6rem; }
    body.what .help_section a {
      text-decoration: underline;
      color: blue; }
      body.what .help_section a:hover {
        color: darkblue; }
    body.what .help_section li {
      margin-bottom: 1.5rem; }
      body.what .help_section li span.faq-q, body.what .help_section li span.how-to-title {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        margin-bottom: 2.5rem; }
      body.what .help_section li p {
        white-space: pre-line;
        line-height: 1.5rem;
        margin-top: 10px; }
  body.what .block_menu {
    position: fixed;
    width: 11%;
    top: 5px;
    left: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    body.what .block_menu span.contents li {
      padding: 0.5rem;
      border-radius: 0;
      background-color: lightgrey;
      position: relative; }
      body.what .block_menu span.contents li:hover {
        background-color: #666666; }
      body.what .block_menu span.contents li:after {
        content: ">";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin-right: 10px; }
  body.what table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 5rem; }
    body.what table td {
      padding: 20px;
      border: 1px solid black; }
    body.what table tr:hover {
      background-color: lightgrey; }

body.page_make {
  background: grey;
  height: 100%;
  overflow: hidden; }
  body.page_make #workspace_container {
    height: 100%; }

#workspace_container {
  border: 1px solid black;
  cursor: default !important;
  position: relative; }
  #workspace_container .editor, #workspace_container .node-label {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-family: sans-serif; }
  #workspace_container .editor {
    position: absolute;
    display: none;
    outline-width: 0;
    outline: none;
    border: none; }
  #workspace_container .node-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: pre; }
  #workspace_container .delete_button {
    cursor: pointer; }
    #workspace_container .delete_button.invisible {
      cursor: default; }
  #workspace_container #toolbar {
    position: absolute;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white; }
    #workspace_container #toolbar .toolbar_button {
      padding: 1rem;
      border: none;
      border-radius: 0; }
    #workspace_container #toolbar .toolbar_area_right {
      float: right;
      margin-right: 2rem; }
    #workspace_container #toolbar .toolbar_button__settings {
      position: relative; }
      #workspace_container #toolbar .toolbar_button__settings:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("/resources/gear.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      #workspace_container #toolbar .toolbar_button__settings:hover {
        background-color: white; }
        #workspace_container #toolbar .toolbar_button__settings:hover:after {
          animation-name: spin;
          -webkit-animation-name: spin;
          -moz-animation-name: spin;
          animation-duration: 0.5s;
          -webkit-animation-duration: 0.5s;
          -moz-animation-duration: 0.5s;
          animation-iteration-count: 1;
          -webkit-animation-iteration-count: 1;
          -moz-animation-iteration-count: 1; }
  #workspace_container .tutorial_instruction {
    display: block;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
    margin-bottom: 300px;
    color: grey;
    transition: margin-bottom 1.2s; }
    #workspace_container .tutorial_instruction.primary {
      margin-bottom: 400px;
      color: black; }
  #workspace_container .tutorial_arrow {
    position: absolute;
    display: inline-block;
    display: none;
    height: 1px;
    width: 1px; }
    #workspace_container .tutorial_arrow:after {
      content: '';
      display: inline-block;
      position: absolute;
      height: 70px;
      width: 70px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
  #workspace_container #workspace {
    background-color: grey; }
  #workspace_container #export-image-canvas {
    display: none;
    width: 100%;
    height: 100%; }
  #workspace_container .editor_container {
    position: absolute;
    top: 0;
    left: 0; }
  #workspace_container .loading_screen {
    display: block;
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
    z-index: 6000;
    background-color: white; }
    #workspace_container .loading_screen img {
      margin-top: 11%;
      margin-left: 22%;
      animation-name: spin;
      -webkit-animation-name: spin;
      -moz-animation-name: spin;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-iteration-count: 5;
      -webkit-animation-iteration-count: 5;
      -moz-animation-iteration-count: 5; }

.page_docs {
  background-color: #ededed; }
  .page_docs .note {
    text-align: center;
    margin: 1rem; }
    .page_docs .note a {
      text-decoration: underline;
      color: blue; }
  .page_docs.page_doc_index .page_title {
    margin: 5rem 0; }
  .page_docs.page_doc_index .block_menu {
    float: left;
    display: inline-block;
    width: 30%;
    margin-left: 5%; }
  .page_docs .blurb {
    width: 55%;
    float: right;
    margin-right: 5%; }
  .page_docs .historical_warning {
    color: red;
    font-style: italic; }
  .page_docs .back {
    position: fixed;
    top: 15px;
    left: 15px;
    font-family: sans-serif;
    font-size: 1.5rem; }
    .page_docs .back:after {
      content: "<<"; }
  .page_docs .download_docs {
    position: fixed;
    top: 15px;
    right: 15px; }
  .page_docs ul {
    list-style: initial; }
  .page_docs li > ul {
    margin-top: 0.5rem;
    list-style-type: circle; }
  .page_docs .document {
    width: 60%;
    margin-left: 20%;
    margin-top: 2rem;
    border-bottom: 1px solid lightgrey; }
    .page_docs .document h1 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
      text-align: center;
      font-family: sans-serif; }
    .page_docs .document .section {
      margin-bottom: 3rem; }
      .page_docs .document .section h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: left; }
  .page_docs li, .page_docs .section p {
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-bottom: 0.5rem; }
  .page_docs .actor_app {
    color: green; }
  .page_docs .actor_user {
    color: #4a91e8; }
  .page_docs.page_docs_requirements_list .document > p, .page_docs.page_docs_class_analyses .document > p {
    font-style: italic;
    margin-bottom: 3rem; }
  .page_docs.page_docs_requirements_list .own_requirement, .page_docs.page_docs_class_analyses .own_requirement {
    color: #4a91e8; }
  .page_docs.page_docs_requirements_list li .own_requirement, .page_docs.page_docs_class_analyses li .own_requirement {
    color: #4a91e8; }
  .page_docs.page_docs_class_diagram img {
    width: 80%;
    margin-left: 10%;
    max-width: 1500px; }
  .page_docs.page_docs_sequence_diagrams img {
    width: 80%;
    display: block;
    margin: auto;
    border: 1px solid grey;
    margin-bottom: 3rem; }
  .page_docs.page_docs_writeup {
    height: 100%;
    overflow: hidden; }
    .page_docs.page_docs_writeup iframe {
      width: 100%;
      height: 100%; }
